#contato {
    flex-direction: column;
    padding-top: 100px;
}

#conteudo-contato{
    width: 60%;
    margin: 0 auto;
}

#contato h1, #contato p {
    text-align: center; 
    margin: 20px 0;   
}

#contato div button {
    margin: 15px auto;
}

#buttons-contato {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

#buttons-contato a{
    transition: 0.5s;
}

#buttons-contato a:nth-child(1){
    order: 1;  
}
#buttons-contato a:nth-child(3){
    order: 2;  
}
#buttons-contato a:nth-child(2){
    order: 3;  
}

#buttons-contato a:hover:nth-child(1){
    color: #66a0d9;
}
#buttons-contato a:hover:nth-child(2){
    color: #25d366;
}
#buttons-contato a:hover:nth-child(3){
    color: #ea4335;    
}

@media screen and (max-width: 1060px) {
    #buttons-contato {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    #contato{
        padding-top: 30px;
    }
}