

#exp {    
    background-image: linear-gradient(
        45deg, #212632, #242A34, #3C4C5A
    );
    background-size: cover;
}

#exp .container {
    display: flex;
}

.container-exp {
    overflow: auto;    
}

.linha-exp {
    height: 100%;
    display: flex;
    justify-content: left;
    padding-left: 50px;
    gap: 20px;    
    
}

.card-exp {
    width: 200px;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
    gap: 20px;    
    position: relative;
}

#exp i {
    background-color: var(--andromeda-light);
    width: 50px;
    height: 50px;
    font-size: 2em;
    color: var(--andromeda-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
}

.ano {
    font-size: large;
    display: flex;
    align-items: end;
    margin-left: 10px;
}

.titulo {
    font-size: large;
}

.subtitulo {
    color: var(--carmesin);
}

.desc{
    font-size: 0.8em;
    opacity: 0.7;
}

.card-exp:nth-child(odd) .conteudo {
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card-exp:nth-child(odd) .ano {
    grid-row-start: 3;
    grid-row-end: 4;
    align-items: start;
}


/* LINHA */

#inicio::after {
    position: absolute;
    content: '';
    background: var(--andromeda-light);
    height: 2px;
    width: 665px;
    left: 24%;
}





