
#home .container{
    display: flex;
}

.right, .textos {
    display: flex;
    flex-direction: column;
    /* border: 2px solid cadetblue; */
}

.left {      
    margin: auto;     
    width: 60%;
    height: 100%; 
    /* border: 2px solid cadetblue; */
}





/* LEFT */

.textos {  
    margin-top: 100px;  
    justify-content: space-evenly;
    height: 70%;
    padding: 20px 50px;
    /* border: 2px solid yellow; */
}

h1, #dev {
    font-family: 'Source Code Pro', monospace;    
}

#dev {    
    color: var(--carmesin);
}


/* RIGHT */

.right img { 
    margin-top: 200px;  
    margin-bottom: 50px;    
    padding-right: 20px;
    width: 300px;    
}

/* SOCIAL */
/* 66a0d9 25d366 ea4335*/
#home .right, .icons {
    margin: 0 auto;    
    padding-right: 20px;    
}

#home .icons .social {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    background: var(--andromeda-light);
    box-shadow: 0px 5px 15px rgba(245, 189, 189, 0.5);
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    overflow: hidden;
}

#home .icons .social:hover{
    width: 150px;
}

#home .icons .social .icon{
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease-out;
}

#home .icons .social:nth-child(1):hover .icon .fa-square-github{
    background: #333;
}

#home .icons .social:hover .fa-linkedin{
    background: #66a0d9;
}

#home .icons .social:hover .fa-square-whatsapp{
    background: #25d366;
}

#home .icons .social:hover .fa-envelope{
    background: #ea4335;
}

#home .icons .social .icon i {
    font-size: 25px;
}

#home .social span {
    font-size: 20px;
    letter-spacing: 1px;
}




@media screen and (max-width: 825px) {
    #home .container{
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
    }    
    
    .right, .right img, div.icons, .textos, .left {        
        margin-bottom: 0px;
        padding-right: 0px;
    }

    .textos, .left {        
        width: 85%;
        padding: 0px 0px;
    }

    .right img, div.icons, .left, .textos, h1, p, button {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}