
.right, .textos {
    display: flex;
    flex-direction: column;
    /* border: 2px solid cadetblue; */
}

.left {      
    margin: auto;     
    width: 60%;
    height: 100%; 
    /* border: 2px solid cadetblue; */
}





/* LEFT */

.textos {  
    margin-top: 100px;  
    justify-content: space-evenly;
    height: 70%;
    padding: 20px 50px;
    /* border: 2px solid yellow; */
}

#home span {
    font-size: 2rem;
}

h1, #dev {
    font-family: 'Source Code Pro', monospace;    
}

#dev {    
    color: var(--carmesin);
}

button {
    width: 150px;
    height: 40px;
    border-radius: 7px;
    background: linear-gradient(to right, var(--roxo-light) 5%, var(--carmesin) 95%);
    /* background: var(--carmesin); */
}




/* RIGHT */

.right, .icons {
    margin: 0 auto;    
    padding-right: 20px;    
}

.right img { 
    margin-top: 200px;  
    margin-bottom: 50px;    
    padding-right: 20px;
    width: 300px;    
}

i{
    margin: 5px;
}



@media screen and (max-width: 825px) {
    #home {
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
    }    
    
    .right, .right img, div.icons, .textos, .left {        
        margin-bottom: 0px;
        padding-right: 0px;
    }

    .textos, .left {        
        width: 85%;
        padding: 0px 0px;
    }

    .right img, div.icons, .left, .textos, h1, p, button {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}