nav {
    position: relative;
}

nav input {
    visibility: hidden;
    display: none;
    position: relative;
}

.labels {
    position: relative;
    display: flex;
    gap: 10px;
}


.labels label {
    padding: 20px 20px;
    cursor: pointer;
    opacity: .3;
    transition: .5s;
}

.labels label:hover {
    opacity: 1;
    filter: drop-shadow(0 0 10px #fff);
}

nav input:nth-of-type(1):checked~.labels label:nth-of-type(1),
nav input:nth-of-type(2):checked~.labels label:nth-of-type(2),
nav input:nth-of-type(3):checked~.labels label:nth-of-type(3),
nav input:nth-of-type(4):checked~.labels label:nth-of-type(4),
nav input:nth-of-type(5):checked~.labels label:nth-of-type(5) {
    color: #eee;
    opacity: 1;
    filter: drop-shadow(0 0 10px #fff);
}

.underline {
    width: 150px;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: -20px;
    transition: .5s;
}

.underline::before {
    content: '';
    width: 40%;
    height: 100%;
    background: #eee;
    position: absolute;
    left: 24.5%;
    border-radius: 4px;
    filter: drop-shadow(0 -5px 8px #fff) drop-shadow(0 -10px 11px #fff) drop-shadow(0 -50px 18px #fff);
}

nav input:nth-of-type(1):checked~.labels .underline {
    left: -20px;
}

nav input:nth-of-type(2):checked~.labels .underline {
    left: 85px;
}

nav input:nth-of-type(3):checked~.labels .underline {
    left: 198px;
}

nav input:nth-of-type(4):checked~.labels .underline {
    left: 307px;
}

nav input:nth-of-type(5):checked~.labels .underline {
    left: 410px;
}

@media screen and (max-width: 825px) {
    nav {
        position: absolute;
    }

    .labels {
        flex-direction: column;
        align-items: center;
        top: -30px;
        gap: 0px;
    }

    .labels label {
        padding: 15px 20px;
    }

    .underline {
        display: none;
        width: 40%;
    }

    nav input:nth-of-type(1):checked~.labels .underline {
        top: 20%;
        left: 32%;
    }

    nav input:nth-of-type(2):checked~.labels .underline {
        top: 40%;
        left: 32%;
    }

    nav input:nth-of-type(3):checked~.labels .underline {
        top: 58.5%;
        left: 32%;
    }

    nav input:nth-of-type(4):checked~.labels .underline {
        top: 78%;
        left: 32%;
    }

    nav input:nth-of-type(5):checked~.labels .underline {
        top: 95%;
        left: 32%;
    }
}