
nav input {
    visibility: hidden;
    display: none;
}

.labels {
    position:relative;
    display: flex;
    gap: 50px;
    padding: 20px 20px;
    /* overflow: hidden; */
}

.labels label {
    font-size: 1.5rem;
    /* -webkit-text-stroke: 1px #eee; */
    /* color: transparent; */
    cursor: pointer;
    opacity: .3;
    transition: .5s;
}

.labels label:hover{
    opacity: 1;
    filter: drop-shadow(0 0 10px #fff);
}

nav input:nth-of-type(1):checked ~ .labels label:nth-of-type(1),
nav input:nth-of-type(2):checked ~ .labels label:nth-of-type(2),
nav input:nth-of-type(3):checked ~ .labels label:nth-of-type(3),
nav input:nth-of-type(4):checked ~ .labels label:nth-of-type(4),
nav input:nth-of-type(5):checked ~ .labels label:nth-of-type(5) {
    color: #eee;
    opacity: 1;
    filter: drop-shadow(0 0 10px #fff);
}

.underline{
    width: 20%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;  
    transition: .5s;
}

.underline::before{
    content: '';
    width: 40%;
    height: 100%;
    background: #eee;
    position: absolute;
    left: 24.5%;
    border-radius: 4px;
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff) drop-shadow(0 0 30px #fff) drop-shadow(0 0 50px #fff) blur(1px);
}

nav input:nth-of-type(1):checked ~ .labels .underline {
    left: 0;
}
nav input:nth-of-type(2):checked ~ .labels .underline {
    left: 20%;
}
nav input:nth-of-type(3):checked ~ .labels .underline {
    left: 40%;
}
nav input:nth-of-type(4):checked ~ .labels .underline {
    left: 60%;
}
nav input:nth-of-type(5):checked ~ .labels .underline {
    left: 80%;
}

@media screen and (max-width: 825px) {
    .labels{
        flex-direction: column;
        align-items: center;
        top: -30px;
        gap: 20px;
    }

    .underline{
        /* display: none; */
        width: 40%;
    }

    nav input:nth-of-type(1):checked ~ .labels .underline {
        top: 20%;
        left: 32%;
    }
    nav input:nth-of-type(2):checked ~ .labels .underline {
        top: 40%;
        left: 32%;
    }
    nav input:nth-of-type(3):checked ~ .labels .underline {
        top: 58.5%;
        left: 32%;
    }
    nav input:nth-of-type(4):checked ~ .labels .underline {
        top: 78%;
        left: 32%;
    }
    nav input:nth-of-type(5):checked ~ .labels .underline {
        top: 95%;
        left: 32%;
    }
}