
#skills .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    /* margin-top: 1%; */
}

.linha{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 10px; 
    margin-bottom: 10px;
}

.linha div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    border-radius: 5%;
    /* border: 2px solid var(--carmesin); */
}

#skills i {
    font-size: 4rem;
    user-select: none;
}

#skills span {
    font-size: 0.8em;
    padding-bottom: 10px;
    user-select: none;
}

i, h3 {
    padding: 10px;
}

h3 {
    margin-top: 20px;
}

.linha div {
    background: var(--andromeda-light);    
}

.linha:nth-child(5){
    grid-template-columns: 1fr 1fr 1fr;
}

.linha:nth-last-child(1) span{
    text-align: center;
}

#skills .linha div, #skills .linha div i, #skills .linha div span  {
    transition: 0.3s;
}

#skills .linha div:hover {
    width: 123px;
}

.gold, .colored {
    color: goldenrod;
}

@media screen and (max-width: 825px) {

    .linha, .linha:nth-last-child(1), .linha:nth-child(5){
        grid-template-columns: 1fr 1fr; 
    }

    #skills .container{        
        height: auto;
        margin-top: 30%;
    }
    #skills > div > div:nth-child(7){
        padding-bottom: 30px;
    }

    

}