
#skills .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.linha{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 10px; 
    margin-bottom: 10px;
}

.linha div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    border-radius: 5%;
    /* border: 2px solid var(--carmesin); */
}

#skills i {
    font-size: 5rem;
}

#skills span {
    font-size: 1em;
    padding-bottom: 10px;
}

i, h3 {
    padding: 10px;
}

h3 {
    margin-top: 20px;
}

.linha div {
    background: var(--andromeda-light);
}

.linha:nth-last-child(1){
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 825px) {

    .linha, .linha:nth-last-child(1){
        grid-template-columns: 1fr 1fr; 
    }

    #skills .container{
        height: auto;
    }

}