@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #eee;
    font-family: 'Cabin', sans-serif;  
}

:root {
    --andromeda-dark: #23262e;
    --andromeda-light: #52596d;
    --carmesin: #ff3157;
    --salmao: #FF978E;
    --azul: #0597F2;
    --ciano: #02FEFF;
    --roxo-dark: #3A378C;
    --roxo-light: #914BF2;
}

body {
    display: flex;
    justify-content: center;    
    background: var(--andromeda-dark);
    /* border: 2px solid green; */
}

a {
    cursor: pointer;
}

.holder {
    height: 100vh;
    width: 1165px;
    max-width: 100%;  
    max-height: 910px;  
    /* border: 2px solid rgb(50, 235, 50); */
}

.tabtwo {
    display: flex;
    height: calc(100% - 74px);
    margin-top: 74px;
}

.hidetab {
    display: none;
}

/* ::-webkit-scrollbar{
    width: 0;
} */


/* data-tab */

.init {
    z-index: 500;
}

.tab{
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: relative;

    position: fixed;
    inset: 0 0 0 0;
    z-index: 1;
}

.tab .container{
    width: 1165px;
    max-width: 100%;
    height: 100%;
    padding-top: 74px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    max-height: 1080px;
}

#projetos .container{     
    max-height: none;
}

.tab.active{
    --x: 50%;
    --y: 50%;
    clip-path: circle(
        200% at var(--x) var(--y)
    );
    animation: showTab 1s ease-in-out 1;
}

@keyframes showTab{
    from{
        clip-path: circle(
            0% at var(--x) var(--y)
        );
    }
}






